body {
  background-color: #dbf2fe;
  font-family: "Bungee", cursive;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-page {
  display: flex;
  flex-direction: column;
}

#title {
  transform: rotateX(45deg);
  line-height: 0.75;
  color: #610079;
  font-size: 8rem;
  perspective: 600px;
}

#best-score {
  color: #ca56f0;
  font-size: 4rem;
  text-align: center;
}

button {
  background-color: #3e95f9;
  color: #fff;
  width: 280px;
  height: 60px;
  border: 0;
  box-shadow: none;
}

button:focus {
  cursor: pointer;
}

#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}
